# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Package Files #
*.war
*.ear

# Cache of project
.gradletasknamecache
.classpath
.project
*.iml
*.class

# Cache dir of project
build/
.gradle/
*/build/
.settings/
bin/
logs/

#IDEA
.idea/
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/scopes/scope_settings.xml
/target
